#main-head {
  text-align: center;
  background-color: #161616;
  color: #FBFBFB;
  font-size: 48px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: lighter;
}

.main-content {
  display: flex;
  flex-direction: row;
  background-color: #F0F0F0;
  justify-content: center;
}

.the-story {
  margin-left: 8vw;
  margin-right: 10vw;
}

.basics-text {
  border-right: solid 1px #828282;
  padding-right: 2vw;
}

img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  margin-top: 10vh;
}

p {
  color: #828282;
}
